# Azure Data Lake
ADLS_ACCOUNT_KEY=<your-adls-account-key>
ADLS_ACCOUNT=egchdatalake

# Azure Service Bus
SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://<your-namespace>.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=<your-key>

# Azure Event Hub
EVENT_HUB_CONNECTION_STRING=Endpoint=sb://<your-namespace>.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=<your-key>

# Azure deployment
AZURE_SUBSCRIPTION_ID=<your-subscription-id>
AZURE_RESOURCE_GROUP=<your-resource-group>
AZURE_REGION=<your-region>
AZURE_STORAGE_ACCOUNT=<your-storage-account-name>
AZURE_STORAGE_ACCOUNT_CONNECTION_STRING=<your-storage-account-connection-string>
AZURE_STORAGE_CONTAINER=blobs-processed-by-function
AZURE_EVENTHUB_NAMESPACE=<your-eventhub-namespace>
AZURE_EVENTHUB_NAME=blobs-processed-by-function-hub
AZURE_LOG_ANALYTICS_WORKSPACE=<your-log-analytics-workspace-name>
AZURE_CONTAINER_APP_ENV=<your-container-app-environment-name>
AZURE_FUNC_APP_NAME=<your-function-app-name>
