ADLS_ACCOUNT_KEY=<your-adls-account-key>
ADLS_ACCOUNT=egchdatalake
SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://<your-namespace>.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=<your-key>
EVENT_HUB_CONNECTION_STRING=Endpoint=sb://egch-poc-aeh.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=<your-key>
